.App {
  text-align: center;
}

.App-logo {
  height: 15vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: #764665;
  color: white;
  padding: 20px;
  border-radius: .25rem;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, .3);
  height: 150px;
  width: 150px;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0));
  transform-style: preserve-3d;
  transition: 150ms;
  cursor: pointer;

}

.card:hover {
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
}

.card.flip {
  --rotate-y: 180deg;
}

.card .front,
.car .back {
  position: absolute;
  padding: 1rem;
  backface-visibility: hidden;
}

.card .front {
  left: 0;
}

.card .back {
  transform: rotateY(180deg);
}

.card-options {
  margin-top: .5rem;

}

.card-option {
  margin-top: .25rem;
  font-size: .75rem;
  color: darkgrey;
}

.card-option:first-child {
  margin-top: 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
